main {
    width: 100%;
}

/* Our story section */
.story-section {
    margin-top: 111px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow-wrapper {
    position: relative;
    background-color: #D9D9D9;
    width: 100%;
    aspect-ratio: 16/9;
}

.slideshowItem {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
}

.slideshowItem img {
    aspect-ratio: 16/9;
    width: 100%; 
}

@keyframes slideshowFade {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

.slideshowFade {
    animation-name: fadeIn;
    animation-duration: 2000ms;
}

.circle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #D9D9D9;
    margin: 24px 3.5px 24px 3.5px;
    font-weight: normal;
    transition: background-color 2000ms ease;
    cursor: pointer;
}

.activeCircle {
    background-color: black;
}

.story-section-heading2 {
    width: 270px;
    text-align: center;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 22px;
}

.story-section-button {
    background-color: white;
    border: 1px solid black;
    font-family: "Lustria-Regular", sans-serif;
    height: 42px;
    width: 133px;
    color: black;
    font-size: 16px;
}

/* Collection section */
.collection-section {
    width: 100%;
    margin-top: 42px;
    font-size: 16px;
}

.collection-section-heading2 {
    margin-bottom: 8px;
    margin-left: 24px;
    line-height: 26px;
}

.collection-section-image-container {
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 16px;
}

.collection-section-image {
    background-color: #D9D9D9;
    width: auto;
    aspect-ratio: 2/3;
    margin-bottom: 16px;
    position: relative;
}

.collection-section-image img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    position: absolute;
}

.collection-section-image p {
    display: none;
}

/* Article */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 42px 24px 30px 24px;
    font-family: "Inter-Regular", sans-serif;
}

.article-read-more-button {
    background-color: white;
    border: 1px solid black;
    font-family: "Lustria-Regular", sans-serif;
    height: 42px;
    width: 133px;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.dotsHidden {
    display: none;
}

.moreHidden {
    display: none;
}

/* Sign-up section */
.sign-up-section {
    width: calc(100% - 48px);
    margin: 40px auto;
    position: relative;
}

.sign-up-section picture {
   display: flex;
   justify-content: center;
}

.sign-up-section img {
    width: 100%;
    margin: auto;
}

.sign-up-section-heading2 {
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    color: white;
    text-align: center;
    top: 12%;
    right: 50%;
    width: 46%;
    transform: translateX(50%);
}

.sign-up-section-button {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    font-family: "Lustria-Regular", sans-serif;
    height: 42px;
    width: 133px;
    color: black;
    font-size: 16px;
    right: 50%;
    transform: translateX(50%);
    bottom: 8%;
}

/* Follow us section */
.follow-section {
    width: calc(100% - 48px);
    margin: 48px auto 48px auto;
}

.follow-section-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 16px;
}

.follow-section-heading2 {
    line-height: 26px;
    margin-bottom: 8px;
}

.follow-section-grid-item-container img {
    max-width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 8px;
}

.follow-section-grid-item-container p {
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    margin-bottom: 16px;
    text-align: center;
}

/* Screens with minimum width 1400px */
@media screen and (min-width: 1400px) {
    main {
        padding-bottom: 128px;
        box-shadow: 0 4px 2px -2px black;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0;
    }
    /* Our story section */
    .story-section {
        margin-top: 144px;
    }
    .circle {
        width: 32px;
        height: 32px;
        margin: 64px 8.5px;
    }
    .story-section-heading2 {
        font-size: 40px;
        line-height: 48px;
        width: 710px;
        margin-bottom: 64px;
    }
    .story-section-button {
        width: 212px;
        height: 85px;
        font-size: 24px;
    }
    /* Collection section */
    .collection-section {
        margin-top: 128px;
     }
    /* Article */
    article {
        margin-top: 158px;
    }
    .article-paragraph {
        width: 710px;
        font-size: 24px;
        line-height: 37px;
        margin-top: 0;
    }
    .article-read-more-button {
        height: 85px;
        width: 216px;
        font-size: 24px;
    }
    /* Sign-up section */
    .sign-up-section {
        margin-top: 160px;
        margin-bottom: 0;
    }
    .follow-section {
        margin-top: 160px;
        margin-bottom: 0;
    }
}
/* Screens with minimum width 1400px */
@media screen and (min-width: 1400px) {
     /* Collection section */
    .collection-section-heading2 {
        font-size: 30px;
        margin-left: 32px;
        margin-bottom: 24px;
    }
    .collection-section-image-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-right: 32px;
        margin-left: 32px;
    }
    .collection-section-image {
        margin-bottom: 0;
    }
    .collection-section-image p {
        display: block;
        width: 100%;
        position: relative;
        font-family: "Inter-Regular", sans-serif;
        font-size: 24px;
        position: absolute;
        bottom: 0;
    }
    .collection-section-image p span:first-of-type {
        display: inline;
        position: absolute;
        left: 2px;
        top: 8px;
    }
    .collection-section-image p span:last-of-type {
        display: inline;
        position: absolute;
        right: 2px;
        top: 8px;
    } 
    /* Sign up section */
    .sign-up-section {
        width: calc(100% - 64px);
    }
    .sign-up-section-heading2 {
        font-size: 54px;
        line-height: 70px;
        width: 498px;
    }
    .sign-up-section-button {
        height: 85px;
        width: 216px;
        font-size: 24px;
    }
    /* Follow us section */
    .follow-section {
        width: calc(100% - 64px);
    }
    .follow-section-heading2 {
        font-size: 30px;
        margin-bottom: 24px;
    }
    .follow-section-grid-container  {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-right: 0;
        margin-left: 0;
    }
    .follow-section-grid-item-container p {
        font-size: 24px;
    }
}